<div class="container">
  <button mat-mini-fab color="primary" (click)="openCreateTodo()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-tab-group (selectedTabChange)="changeTab($event)">
    <ng-container *ngFor="let tab of tabs">
      <mat-tab label={{tab.name}}>
        <div class="list-container">
          <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
            <div class="list" *cdkVirtualFor="let todo of todoList | orderBy : '-time'">
              <app-todo-item [todo]="todo"></app-todo-item>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
  <button (click)="generateNotification()">Generate Notifications</button>
</div>
