.list-container {
  padding: 5px;
  margin-bottom: 15px;

  padding-top: 40px;

  .example-viewport {
    height: 600px;
  }

  .list {
    border-bottom: 1px solid #868686;

  }
}

button {
  float: right;
}
