@import '../../../assets/styles/common.css';

.list-item {
  .content {
    .time {
      font-size: 15px;

      .icon {
        display: none;
      }

      &:hover {
        .icon {
          display: block;
        }
      }
    }
  }
}

.isCompleted {
  text-decoration: line-through;
}
